.App {
    text-align: center;
    display: flex;

.left {
    width: 50%;
    button {
        width: 100px;
        padding: 3px;
        }
    }
    
    .right {
    width: 50%;
    }
    
    video {
    width: 960;
    height: 540;
    }
}
