.edit-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    .content {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        font-weight: bold;

        .up-container {
            width: 384px;
            height: 260px;
        }

        .left {
            display: flex;
            flex-flow: column nowrap;
            width: 50%;
            align-items: center;
        }

        .right {
            margin-left: 15px;
            display: flex;
            flex-flow: column nowrap;
            width: 50%;
            align-items: center;
        }
    }

    .footer {
        margin-top: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        :first-child {
            margin-right: auto;
        }
    }
}
